*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
html,body{
    
    background: #FAFAFA;
    width: 100%;
    height: 100%;
}

/* 头部 */
/* .row{
    display: flex;
} */

/* .nav .navbar-default{
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    justify-items: center;

} */



.top-text{
    /* width: 50%; */
    font-size: 1.2rem;
    margin: 1.5rem auto;
    margin-left:4em;
    color: #29b078;

}
.top-icon{
    
    float: right;
    
    margin: 1.5rem auto;
   

    
}
a.icon-1{
    padding: 12px;
    padding-right: 30px;
    background: url(./pic/img.png) no-repeat;
    background-position:0 0;
}
a.icon-2{
    padding: 12px;
    padding-right: 30px;
    background: url(./pic/img.png)no-repeat;
    background-position:0 -40px;
}
a.icon-3{
    padding: 12px;
    padding-right: 30px;
    background: url(./pic/img.png)no-repeat;
    background-position:0 -80px;
}

/* .navbar-brand.header-title{ */
    /* display: inline-flex;
    
    flex-direction: column; */
    /* justify-content: center; */
    /* color: aliceblue;
    /* margin-top: 10px; 
    font-size: 2em;
    font-weight: bold; */
/* } */
/* .header-title>span{
    color: aliceblue;
    font-size: 0.1em;
    width: 20px;

} */
li>a:hover{
    content: "";
    /* height: 3px; */
    border-bottom: #FAFAFA solid 3px;
}

/* div.nav{
    width: 100vw;
    background: #29b078;
} */
/* .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
{
    background: #52c595;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background: #489c7b;
} */














/* 主体 */























/* 尾部 */